* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*** headers ***/

h1,
h2 {
    padding-bottom: 10px;
    text-transform: uppercase;

    color: #0275d8;
}

h1 {
    margin-bottom: 0px;
}

h3 {
    margin: 10px;
    margin-left: 0;
}

h2 {
    border-bottom: 0.2px solid grey;
}

/*** images ***/

#photo {
    align-self: center;
}

/*** body ***/

body {
    -webkit-print-color-adjust: exact !important;
    background-color: whitesmoke;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: #292b2c;
    margin: auto;
    height: 290mm;
    width: 210mm;
}

ul {
    list-style: circle;
}

/*** footer ***/

footer {
    text-align: center;
    margin-bottom: 20px;
}

/*** links ***/

header a {
    text-decoration: none;
    color: white;
}

a {
    color: #0275d8;
}

a:hover,
.other a:hover {
    text-decoration: underline;
}

/*** intro ***/

header {
    display: flex;
    justify-content: center;
    background-color: #0275d8;
    color: #f7f7f7;

    padding: 8px 0;
}

header img {
    border-radius: 100%;
    align-self: center;
    width: 120px;
    margin-bottom: 4px;
}
header figure {
    margin-right: 30px;
}

header h3 {
    margin: 0px;
}

header h2 {
    border: none;
}

.intro-elements {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 700px;
}

#subtitle {
    border: none;
    font-size: 18px;
    margin-bottom: 0;
}

#mail {
    cursor: pointer;
}

.infos__name {
    font-size: 26px;
    margin-top: 0;
}

.infos__search {
    font-size: 24px;
}

header h1,
header h2 {
    color: #f7f7f7;
}

.more {
    align-self: center;
}

.rs {
    margin-left: 30px;
    width: 600pt;
    border: 2px solid aqua;
}

#quick-presentation {
    text-align: center;
    max-width: 740px;
    margin: 15px auto;
}

/*** resume body ***/

.resume-body {
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 0 5px;
}

/*** experience ***/

.experience {
    margin-bottom: 16px;
}

.experience .date {
    padding-left: 10px;
}

.experience ul {
    margin-left: 20px;
    padding-left: 10px;
}
.section {
    margin-bottom: 24px;
}
.section__title {
    margin-bottom: 16px;
}

.section--experiences {
    width: 60%;
    margin: 0px 0 0 20px;
}

.section--contact {
    margin-bottom: 0;
}

.experiences__pro {
    margin-bottom: 22px;
}

.experiences__title {
    margin-bottom: 16px;
}

.experience .work-title {
    font-weight: 400;
}

.work-title__date {
    color: grey;
}

.firm {
    align-self: center;
    margin: 0px;
}

.date {
    color: grey;
}

.technology {
    background-color: black;
    color: white;
    border-radius: 8px;
    padding: 5px;
}

/*** side bar ***/

.other {
    width: 40%;
    padding-right: 40px;
    margin: 0;
}

.other ul {
    padding-left: 1em;
    margin-top: 20px;
}

.other ul li {
    margin-bottom: 8px;
}

.tools small {
    border: 1px;
    background-color: #0275d8;
    border-radius: 8px;
    padding: 8px;
    color: white;
    font-weight: bold;
}

.tools__tool {
    margin-bottom: 10px;
}

.tools__bar {
    margin-top: 8px;
    height: 6px;
    border-radius: 5px;
    border: 1px solid #0275d8;
}

.tools__bar::before {
    content: "";
    display: block;
    height: 100%;
    background-color: #0275d8;
}
.tools__bar--40::before {
    width: 40%;
}
.tools__bar--50::before {
    width: 50%;
}
.tools__bar--60::before {
    width: 60%;
}
.tools__bar--70::before {
    width: 70%;
}

.tools__bar--80::before {
    width: 80%;
}

.tools__bar--90::before {
    width: 90%;
}

.column {
    margin: 5px;
}

.languages {
    display: flex;
    justify-content: space-around;
}

.languages img {
    width: 50px;
    height: 35px;
    margin: auto;
    border-radius: 2px;
}

figure {
    text-align: center;
    margin: 0 10px;
}

.progress-bar {
    background-color: blanchedalmond;
    border-radius: 12px;
    height: 10px;
}

.progress-70 {
    background-color: blue;
    height: 100%;
    border-radius: 12px;
    width: 70%;
}

.interests {
    display: flex;
    flex-direction: column;
}

.interests img,
svg {
    width: 50px;
    float: left;
    margin-right: 10px;
}

.interests__interest {
    display: flex;
}

.tools,
.languages {
    margin-bottom: 20px;
}

.other a {
    text-decoration: none !important;
}

.other a:visited {
    color: #0275d8;
}

.projects {
    display: flex;
    justify-content: center;
}

.hobbies {
    display: flex;
    justify-content: center;
}
.projects__link,
.hobby {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 15px;
}

.projects__link {
    padding: 0 30px;
}

.projects__icon {
    font-size: 50px !important;
}

.projects__icon,
.hobby__icon {
    color: #292b2c;
    margin-bottom: 8px;
}

.hobby__icon {
    font-size: 30px;
}

.projects__link:hover .projects__text {
    text-decoration: underline !important;
}

.hobby__text {
    text-align: center;
}

.contact {
    display: inline-block;
    margin-bottom: 8px;
}

.contact__icon {
    font-size: 18px;
}
.contact--first {
    padding-left: 2px;
}
.contact--second {
    padding-left: 3px;
}
.contact__link {
    padding-left: 8px;
}
.contact__link--second {
    padding-left: 12px;
}
